<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>
    
<div class="container">
    <hr>
    <div class="card">
        <div class="card-header">
            <h2>Edit</h2>
        </div>
        <div class="card-body">
            <form method="POST" action="/article/update">
                <input class="form-control" type="text" name="title" value="<%= article.title %>"><br>
                <input type="hidden" name="id" value="<%= article.id %>">
                <textarea id="article" name="body" class="form-control"><%= article.body %></textarea><br>
                <label>Categoria</label>
                    <select class="form-control" name="category">
                        <% categories.forEach((category) => { %>

                            <% if(category.id == article.categoryId) { %>
                                <option value="<%= category.id %>" selected><%= category.title %></option>   
                            <% } else {%>
                                <option value="<%= category.id %>"><%= category.title %></option>
                            <% } %>

                        <% }) %>
                    </select><br>
                <button class="btn btn-info">Save</button>
            </form>
        </div>
    </div>
</div>

<%- include ('../../partials/footer.ejs') %>

<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>
<script>
    tinymce.init({
        selector: "#article",
        plugins: [
           'advlist',
            'autolink',
            'link',
            'image',
            'lists',
            'preview',
            'searchreplace',
            'wordcount',
            'fullscreen',
            'insertdatetime',
            'media',
            'save',
            'table',
            'emoticons',
        ]
        
    })
</script>