<%- include ('../../partials/header.ejs') %>
<%- include ('../../partials/navbar.ejs') %>

<div class="container">
    <hr>
    <h2>Users</h2>
    <hr>
    <a class="btn btn-info" href="/admin/users/create">Create new user</a>
    <hr>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            <% users.forEach(user => { %>
                <tr>
                   <td><%= user.id %></td>
                   <td><%= user.email %></td>
                </tr>
            <% }) %>    
        </tbody>
    </table>
</div>
<%- include ('../../partials/footer.ejs') %>